// Phone is default so no min-width actually set for lowest setting.

/* min-width: 320px (1st gen), 440px (2nd gen), 640px (landscape) */
// Should put the lowest one you want to support here without media restrictions. 
// Others in _phone.scss
body {
    font-family: Helvetica, sans-serif;
    @include font-size(14, 21);
}

blockquote {
    margin-left: 1em;
}

p {
    margin-bottom: 1em;
}

a {
    color: $dark;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    margin: emStep(2) 0;

    & > a {
        text-decoration: none;
        color: $dark;

        &:hover {
            text-decoration: underline;
        }
    }
}

h1 { @include font-size(28, 28); }

h2 { @include font-size(21, 21); }

h3 { font-variant: small-caps; }

h4, h5 { font-weight: bold; font-style: italic; }

hr {
    margin-bottom: 1em; // match paragraph margin
    border: none;
    width: 100%;
    height: 19px;
    background: #fff url("/blog/theme/static/images/hr-small.png") no-repeat scroll center;
    background-size: 19px 19px;

    // hidpi
    @media screen and (-Webkit-min-device-pixel-ratio: 1.5),
        screen and (min--moz-device-pixel-ratio: 1.5),
        screen and (-o-min-device-pixel-ratio: 3/2),
        screen and (min-device-pixel-ratio: 1.5),
        screen and (min-resolution: 2dppx)
    {
        background-image: url("/blog/theme/static/images/hr-small@2x.png");
    }
}

pre {
    margin-bottom: emStep(5);
    font-family: Monaco,Lucida Console,monospace;
    font-size: 1.1em;
    overflow: auto;
    line-height: 1.2em;
}

/* Make inline code spans closer in size to normal Museo text */
code {
    font-size: 110%;
}

.container {
    @include body-container;
    text-align: center;
}

header {
    @include center;
}

.main-header {
    @include clearfix;
    margin: emStep(2) auto 0;

    h1 {
        margin: emStep(2) 0 0;
        a { color: $grey; }
    }

    padding-bottom: emStep(2);
}

.home-body .main-header {
    padding-bottom: 1em;
    border-style: solid;

    // header-bottom-border.png is 240px x 33px
    border-width:0 0 33px;
    max-width: 240px;
    -moz-border-image:url("/blog/theme/static/images/header-bottom-border.png") 0 0 33 0;
   	-webkit-border-image:url("/blog/theme/static/images/header-bottom-border.png") 0 0 33 0;
   	border-image:url("/blog/theme/static/images/header-bottom-border.png") 0 0 33 0;

    // hidpi
    @media screen and (-Webkit-min-device-pixel-ratio: 1.5),
        screen and (min--moz-device-pixel-ratio: 1.5),
        screen and (-o-min-device-pixel-ratio: 3/2),
        screen and (min-device-pixel-ratio: 1.5),
        screen and (min-resolution: 2dppx)
    {
        -moz-border-image:url("/blog/theme/static/images/header-bottom-border@2x.png") 0 0 66 0;
       	-webkit-border-image:url("/blog/theme/static/images/header-bottom-border@2x.png") 0 0 66 0;
       	border-image:url("/blog/theme/static/images/header-bottom-border@2x.png") 0 0 66 0;
    }
}

.logo {
    // center
    margin: 0 auto;
    display: block;
    width: 3em;
    height: 3em;
    border: .36em solid black;
    background-color: $lightgrey;
}

.main-nav ul {
    @include bulletless;
    @include center;

    li {
        @include font-size(14, 21);
        display: inline;
        margin: emStep(2);
    }

    // Start by hiding all nav items and gradually reveal as screen width increases
    .nav-item, .nav-divider {
        @include hidden;
    }

    .all-posts-nav-item, .about-nav-item {
        @include visible-inline;
    }

    .search-item {
        @include visible;
        clear: both;
        margin: 0;
    }
}

.search-text-input, .search-button {
    height: emStep(6);
}

.search-text-input {
    float: left;
    width: 65%;
}

.search-button {
    @include button;
    float: right;
    width: 30%;
}

section {
    // Center
    margin: 0 auto;
}

article {
    text-align: justify;
    margin: 0 0 1em;

    // Necessary for the right-arrow style, below
    position: relative;
}

.post-meta {
    @include font-size($font-size - 3, 21);
    margin: 0 0 1em;
    color: $lightgrey;
}

.byline {
    @include hidden;
}

.home-body, .all-posts-body, .category-body, .search-body {
    .post-content {
        @include hidden;
    }

    // Make a right-arrow on the article content
    // See http://www.yuiblog.com/blog/2010/11/22/css-quick-tip-css-arrows-and-shapes-without-markup/
    article:after {
        content: ' ';
        position: absolute;
        height: 0;
    	width: 0;
        left: 100%;
       	top: 50%;
        border: emStep(3) solid transparent;
       	border-left-color: $grey;
    }
}

.single-body  {
    .main-nav {
        @include hidden;
    }

    .post-summary {
        @include hidden;
    }

    article {
        border-top: none;
    }
}

.post-summary, .post-content {
    @include font-size(14, 21);
}

.post-summary {
    // Make room for the arrow
    padding-right: 0.5em;

    a {
        text-decoration: none;
        color: $dark;
    }
}

.entry-meta, .entry-meta a {
    color: $grey;
}

.post-list {
    @include bulletless;
    text-align: left;

    .summary-title, .summary-date, .excerpt {
        float: left;
        clear: both;
        text-decoration: none;
        &:hover { text-decoration: underline; }
        margin: 0 0 emStep(2);
    }

    .summary-title {
        @include font-size(18, 21);
        font-weight: bold;
    }

    .summary-date {
        color: $lightgrey;
    }

    .excerpt {
        margin-bottom: emStep(8);
    }
}

.nav-below {
    margin-top: emStep(8);
}

.nav-below, .nav-below a {
    color: $grey;
}

.nav-previous, .nav-next {
    @include button;
    width: 50%;
    min-height: 3em;
    padding: 0.8em;
}

.nav-previous {
    float: left;
}

.nav-next {
    float: right;
}
