/* min-width: 1024px (xga), 1200px (wxga), 1600px (uxga) */

// Start using grid, move nav to left, show categories, grow font

// TODO: #{1024/$em}em isn't working ...
@media screen and (min-width: 1024px) {
    body {
       font-size: 1.125em;
    }

    h1 {
        font-size: 2em;
    }

    .main-header {
        float: left;
        @include cellpad;
        @include colmargin(1);
        @include colwidth(2);

        h1 {
            @include hidden;
        }
    }

    .home-link img {
        float: left;
        clear: both;
    }

    .main-nav {
        @include colwidth(2);
        clear: both;
        margin: emStep(4) 0;

        ul {
            float: left;
            line-height: 1.2em;
            color: $grey;
            font-size: emStep(7);
            text-transform: lowercase;

            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }

            .all-posts-nav-item, .about-nav-item,
            .photography-nav-item, .feed-nav-item,
            .category-nav-item, .search-item,
            .nav-divider-1, {
                @include visible;
                margin: emStep(2) 0;
                text-align: left;
            }

            .nav-divider {
                margin-top: emStep(8);
            }
        }
    }

    .search-text-input {
        margin-top: emStep(8);
    }

    .search-text-input, .search-button {
        width: 96px;
    }

    section {
        max-width: none;
    }

    section > article:first-child {
        border-top: none;
    }

    body > section {
        background-color: white;
        text-align: left;
        float: left;
        @include colmargin(0);
        @include colwidth(7);
        max-width: 40em;
        padding-right: 4em;
    }

    article > header {
        text-align: left;
    }
}

@media screen and (min-width: #{1200/$em}em) {
    body {
        background: url("/blog/theme/static/paisley-4.png") no-repeat fixed 100% 100% white;
        // TODO: make some custom bg images
        background-size: 300px 300px;
    }

    @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
        only screen and (min--moz-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (min-device-pixel-ratio: 1.5),
        only screen and (min-resolution: 2dppx) {
        body {
            background-image: url("/blog/theme/static/paisley-4@2x.png");
        }
    }

    .main-nav ul {
        font-size: emStep(8);
    }

    .logo {
        width: 128px;
        height: 128px;
    }

    .search-text-input, .search-button {
        width: 128px;
    }
}

@media screen and (min-width: #{1600/$em}em) {
    body {
        background-size: 550px 550px;
    }
}

