//@media screen and (min-width: #{480/$em}em) {
@media screen and (min-width: 480px) {
    .main-nav ul {
        li {
            margin: 0 0.75em;
        }
        .photography-nav-item, .feed-nav-item {
            @include visible-inline;
        }
    }

    .post-summary, .post-content {
        font-size: 1.1em;
        line-height: 1.35em;
    }
}

// Upgrade font, move nav to side, justify text, full articles on home page
// The next few upgrades keep the whole layout left-floated and spend extra
// width on the right on ever-wider paisley backgrounds. We build much of the
// layout around a 2em-thick cross dividing the logo, the article header,
// the nav links, and the article body.
@media screen and (min-width: 720px) {
    $logo_dim: ($fixed_column - ($line/$em)/2);
    body {
        font-family: Museo, serif;
    }

    h1 {
        // Museo bold is ugly
        font-weight: normal;
    }

    .container {
        float: left;
        margin: 0 4em;
    }

    .main-header {
        position: fixed;
        top: gutter();
        left: gutter();
        @include cellpad;
        @include fixedcolwidth(1);
        @include fixedcolmargin(1);

        h1 {
            @include hidden;
        }
    }

    .main-nav {
        clear: both;

        ul {
            margin-top: 2em; // central cross is 2em thick
            float: right;
            line-height: 1.2em;
            color: $grey;
            text-transform: lowercase;

            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }

            // Show categories
            .all-posts-nav-item, .about-nav-item,
            .photography-nav-item, .feed-nav-item,
            .category-nav-item, .search-item,
            .nav-divider-1, {
                @include visible;
                margin: emStep(2) 0;
                text-align: right;
            }

            .nav-divider {
                margin-top: 1em;
                margin-right: -.125em;
            }
        }
    }

    .logo {
        float: right;
        margin: 0;
        // 1-column-width, minus gutter, square
        width: #{$logo_dim}em;
        height: #{$logo_dim}em;
        border: #{($logo_dim / 9)}em solid black;
    }

    .search-text-input {
        margin-top: 1em;
    }

    .search-text-input, .search-button {
        width: 96px;
    }

    .post-summary, .post-content {
        font-size: 1.5em;
    }

    section {
        background-color: white;
        text-align: left;
        @include fixedcolwidth(4);
        @include fixedcolmargin(2);
    }

    section > article:first-child {
        border-top: none;
    }

    article > header {
        text-align: left;
        //height: #{$logo_dim}em;
    }

    h1.title {
        // Grow font from body size of .875em to 1.75em
        font-size: #{(1.75/.875)}em;
    }

    h1.title {
        margin: 0;
        border-bottom: 1px solid $lightergrey;
    }

    h1.page-title {
        // Move down to bottom-align with logo
        margin-top: 2.6em;
    }

    .post-meta {
        font-size: 1em;
    }

    .post-content {
        margin-top: 1.75em;
    }

    .post-summary, .post-content {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .byline {
        @include visible-inline;
    }

    article {
        text-align: justify;
        border-top: none;
        border-bottom: 1px dotted $lightergrey;
    }

    // Remove article summaries and their "more" right-arrows
    article:after {
        @include hidden;
    }

    .home-body, .category-body {
        .post-summary {
            @include hidden;
        }

        .post-content {
            @include visible;
        }
    }

    .single-body {
        .main-header {
            border-bottom: none;
        }

        .main-nav {
            @include visible;
        }

        article { margin-bottom: 1em; };
    }

    // Remove button style from bottom nav links
    .nav-previous, .nav-next {
        @include nobutton;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1em;
        a:hover {
            text-decoration: underline;
        }
    }
}

// Move sidebar and content one column to the right
@media screen and (min-width: 1024px) {
    h1.title {
        // Grow font from body size of .875em to 2.5em
        font-size: #{(2.5/.875)}em;
    }

    .main-header {
        //left: #{(($line/$em)/4 + $fixed_column)}em;
    }

    .main-nav ul li {
        // Grow font from body size of .875em to 1em
        font-size: #{(1/.875)}em;
    }

    section {
        @include fixedcolmargin(2);
    }
}

@mixin bgimage($minwidth, $number) {
    @media screen and (min-width: #{$minwidth}px) { 
        .backgroundplaceholder#{$number}:after {
            content: ' ';
            position: fixed;
            right: 0;
            bottom: 0;
            width: 800px;
            height: 600px;
            background-size: 800px 600px;
            background-repeat:no-repeat;
            z-index: -#{(100 - $number)};
            //background-image: url("/blog/theme/static/images/paisley-bg-#{$number}@2x.png");
        }
    }

    // lodpi
    @media screen and (max-width: #{$minwidth}px) and (-Webkit-max-device-pixel-ratio: 1.4),
        screen and (max-width: #{$minwidth}px) and (max--moz-device-pixel-ratio: 1.4),
        screen and (max-width: #{$minwidth}px) and (-o-max-device-pixel-ratio: 3/5),
        screen and (max-width: #{$minwidth}px) and (max-device-pixel-ratio: 1.4),
        screen and (max-width: #{$minwidth}px) and (max-resolution: 1dppx) {
        .backgroundplaceholder#{$number}:after {
            background-image: url("/blog/theme/static/images/paisley-bg-#{$number}.png");
        }
    }

    // hidpi
    @media screen and (min-width: #{$minwidth}px) and (-Webkit-min-device-pixel-ratio: 1.5),
        screen and (min-width: #{$minwidth}px) and (min--moz-device-pixel-ratio: 1.5),
        screen and (min-width: #{$minwidth}px) and (-o-min-device-pixel-ratio: 3/2),
        screen and (min-width: #{$minwidth}px) and (min-device-pixel-ratio: 1.5),
        screen and (min-width: #{$minwidth}px) and (min-resolution: 2dppx) {
        .backgroundplaceholder#{$number}:after {
            background-image: url("/blog/theme/static/images/paisley-bg-#{$number}@2x.png");
        }
    }
}

@include bgimage(850, 1);
@include bgimage(890, 2);
@include bgimage(1040, 3);
@include bgimage(1370, 4);
@include bgimage(1450, 5);
@include bgimage(1665, 6);

// Grow fonts
@media screen and (min-width: 1280px) {
    section {
        @include fixedcolwidth(6);
    }

    .post-content {
        font-size: 1.4em;
        line-height: 1.4em;
    }
}

// Background image enhancement steps
@media screen and (min-width: #{(1280 + 200)}px) {
    .main-nav ul li {
        // Grow font from body size of .875em to 1.25em
        font-size: #{(1.25/.875)}em;
    }
}

// Spend the remaining pixels on centering the container div
//@media screen and (min-width: #{(1280 + 200 + 200)}px) {
//
//}
