@media screen and (min-width: 480px) {
    .main-nav ul {
        li {
            margin: emStep(2) emStep(4);
        }

        .photography-nav-item, .feed-nav-item {
            @include visible-inline;
        }
    }
}

// Upgrade font, move nav to side, justify text, full articles on home page
// The next few upgrades keep the whole layout left-floated and spend extra
// width on the right on ever-wider paisley backgrounds. We build much of the
// layout around a 2em-thick cross dividing the logo, the article header,
// the nav links, and the article body.
@media screen and (min-width: 720px) {
    $tabletlineheight: 1.3;
    $logo_dim: ($fixed_column - ($line/$em)/2);
    body {
        font-family: Museo, serif;
        line-height: #{20 / $font_size}em;
    }

    h1, h2, h3, h4 {
        // Museo bold is ugly
        font-weight: normal;
    }

    .container {
        float: left;
        margin: 0;
    }

    .main-header {
        position: fixed;
        top: gutter();
        left: gutter();
        @include cellpad;
        margin-left: 3em; // 3em * 14px = 42px
        width: 6em; // 6em * 14px = 84px

        h1 {
            @include hidden;
        }
    }

    .main-nav {
        ul {
            margin-top: 2em; // central cross is 2em thick
            float: right;
            line-height: 1.2em;
            color: $grey;
            text-transform: lowercase;

            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }

            // Show categories
            .all-posts-nav-item, .about-nav-item,
            .photography-nav-item, .feed-nav-item,
            .category-nav-item, .search-item,
            .nav-divider-1, {
                @include visible;
                margin: 0 0 emStep(2);
                text-align: right;
            }

            .nav-divider {
                margin-top: 1em;
                margin-right: -.125em;
            }
        }
    }

    .logo {
        float: right;
        margin: 0;
        // 1-column-width, minus gutter, square
        width: #{$logo_dim}em;
        height: #{$logo_dim}em;
        border: #{($logo_dim / 9)}em solid black;
    }

    .search-text-input {
        margin-top: 1em;
    }

    .search-text-input, .search-button {
        float: right;
        width: #{$logo_dim}em;
    }

    .search-text-input {
        margin: emStep(4) 0 emStep(1);
    }

    .search-button {
        margin: emStep(1) 0;
    }

    .post-summary, .post-content {
        @include font-size(16, 24);
    }

    section {
        background-color: white;
        text-align: left;
        margin-left: 11.5em;
        width: #{475 / $font_size}em; // 475px wide
    }

    section > article:first-child {
        border-top: none;
    }

    article > header, section > header {
        text-align: left;
        margin: 1em 0 2em; // 2em central cross
        border-bottom: 1px solid $lightergrey;

        // Push down the article title so it's base-aligned with logo
        height: #{($logo_dim)}em;

        // Makes h1.title's "position:absolute; bottom: 0" work.
        position: relative;
    }

    .post-meta {
        @include font-size(14, 24);
    }

    h1.title {
        @include font-size(20, 24);
        margin: 0;

        display: block;
        position: absolute;
        bottom: 0;

        background-color: white;
    }

    h1.title {
        margin: 0;
    }

    .byline {
        @include visible-inline;
    }

    article {
        border-top: none;
        border-bottom: 1px dotted $lightergrey;
        margin: #{$articletopmargin}em 0 1em;
    }

    // Remove article summaries and their "more" right-arrows
    article:after { @include hidden; }

    .home-body, .category-body {
        .post-summary {
            @include hidden;
        }

        .post-content {
            @include visible;
        }
    }

    .single-body {
        .main-header { border-bottom: none; }
        .main-nav { @include visible; }
    }

    // Remove button style from bottom nav links
    .nav-previous, .nav-next {
        @include nobutton;
        @include font-size(20, 24);
        font-weight: bold;
        margin-bottom: 1em;
        a:hover {
            text-decoration: underline;
        }
    }

    .post-list {
        .summary-title {
            @include font-size(20, 24);
        }

        .summary-title, .date {
            margin-bottom: 0.5em;
        }
    }
}

// Grow fonts
@media screen and (min-width: 1280px) {
    section {
        width: #{550 / $font_size}em; // 475px wide
    }

    h1 {
        @include font-size(28, 38);
    }

    h1.title {
        @include font-size(32, 44);
    }

    .post-list {
        .summary-title {
            @include font-size(24, 28);
        }

        .date, .excerpt {
            @include font-size(20, 28);
        }
    }

    .post-content {
        @include font-size(20, 32);
    }
}
