@font-face {
    font-family: "Museo";
    src: url("/blog/theme/static/Museo300-Regular.otf");
}

body {
    background: url("/blog/theme/static/paisley-4.png") no-repeat fixed 100% 100% white;
    font-family: Museo,Palatino,Georgia,Serif;
    font-size: 110%;
}

/* =Structure
-------------------------------------------------------------- */

#switch-mobile {
    clear: both;
    font-size: 24px;
    margin: 36px 0 0 200px;
}
#switch-mobile a {
    text-decoration: none;
}
#main {
    clear: both;
}
#page {
	display: block;
	margin: 1em;
}	
#primary {
  width: 660px;
  padding-right: 5px;
  margin: 32px 0 70px 200px;
  background: white;
  clear: both;
}

body.single #primary {
	margin-top: 0;
}

body.home #primary, body.search #primary {
  border-top: 1px dotted #333333;
  padding-top: 5px;
}
body.search #primary {
    padding-top: 25px;
}
#content {
  
}
#main .widget-area {
    left: 25px;
    padding: 18px 0;
    position: fixed;
    top: 20px;
    width: 180px;
}

.widget_nav_menu h1 {
	display: none;
}

.widget_search, .widget_text {
    padding-left:39px;
}

ul.menu {
	list-style-type: none;
	margin-bottom: 10px;
}

#colophon {
	position: fixed;	
	bottom: 0;
	height: 25px;
	width: 21em;
	left: 0;
	background-color: white;
	font-size: 70%;
	color: #808080;
}

/* Increase the size of the content area for templates without sidebars */
.full-width #content,
.image-attachment #content,
.error404 #content {
	margin: 0;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* =Header
-------------------------------------------------------------- */

#site-title {
	display:none;
	font-size: 2em;
	font-weight: bold;
	margin: .67em 0;
}
#site-description {
	display:none;
	font-size: 1em;
	font-weight: normal;
	margin: 0 0 1em;
}
#access {
    background: none repeat scroll 0 0 white;
    margin: 0 0 30px 200px;
    padding-right: 5px;
    width: 660px;
}
#access ul {
    list-style: none outside none;
    margin: 0;
    padding-left: 0;
}
#access li {
    float: left;
    position: relative;
}
#access a {
    display: block;
    line-height: 2em;
    padding: 0 2em 0 0;
    text-decoration: none;
    color: #808080;
}
#access ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 2em;
    z-index: 99999;
}
#access ul ul ul {
    left: 100%;
    top: 0;
}
#access ul ul a {
    background: none repeat scroll 0 0 #DEDEDE;
    height: auto;
    line-height: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    width: 10em;
}
#access li:hover > a, #access ul ul *:hover > a {
    text-decoration: underline;
}
#access ul ul a:hover {
    text-decoration: underline;
}
#access ul li:hover > ul {
    display: block;
}

/* =Content
-------------------------------------------------------------- */
a {
	color: #2060A0;
}

h1 {
	font-size: 160%;
    color: #606060;
    margin: 25px 0 17px 0;
}

pre {
    padding: .4em;
    padding-left: .8em;
    border: 1px solid #cccccc;
    font-family: Monaco,Lucida Console,monospace;
    font-size: 1em;
    overflow: auto;
    line-height: 1.1em;
}

/* Make inline code spans closer in size to normal Museo text */
code {
    font-size: 115%;
}

pre code {
    font-size: 110%;
}

div.entry-content {
    text-align: justify;
    text-justify: inter-word;
}

h1.entry-title, h1.entry-title a {
	margin: 15px 0 5px 0;
    text-decoration: none;
    color: #202020;
    font-size: 140%;
}

.entry-meta {
	margin: 15px 0;
}

.entry-meta a {
	text-decoration: none;
	color: #404040;
}
.entry-meta a:hover, .entry-title a:hover {
	text-decoration: underline;
}
.sticky {
}
.entry-meta {
	clear: both;
	display: block;
	color: #808080;
	/*font-size: 70%;*/
}

#content nav {
	display: block;
	overflow: hidden;
}

#content nav .nav-previous {
	float: left;
	width: 50%;
}

#content nav .nav-previous a, #content nav .nav-next a {
	text-decoration: none;
	color: #808080;
}

#content nav .nav-previous a:hover {
	text-decoration: underline;
	color: #808080;
}

#content nav .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
.page-link {
	clear: both;
	margin: 0 0 1em;
}
.page .edit-link {
	clear: both;
	display: block;
}
/* Image Attachments */
.image-attachment div.entry-meta {
	float: left;
}
.image-attachment nav {
	float: right;
	margin: 0 0 1em 0;
}
.image-attachment .entry-content {
	clear: both;
}
.image-attachment .entry-content .entry-attachment {
	background: #eee;
	margin: 0 0 1em;
	padding: 1em;
	text-align: center;
}
.image-attachment .entry-content .attachment {
	display: block;
	margin: 0 auto;
	text-align: center;
}

/* =Images
-------------------------------------------------------------- */

a img {
	border: none;
}
p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
.wp-caption {
	padding: .5em;
	text-align: center;
}
.wp-caption img {
	margin: .25em;
}
.wp-caption .wp-caption-text {
	margin: .5em;
}
.gallery-caption {
}
.wp-smiley {
	margin: 0;
}


/* =Widgets
-------------------------------------------------------------- */

.widget {
	display: block;
}
.widget_categories ul {
    padding: 0 39px;
    margin: 0;
}
.widget_categories a {
	color: #808080;
	text-decoration: none;
	text-transform:lowercase;
	font-size: 80%;
}
.widget_categories a:hover {
	text-decoration: underline;
}
li.cat-item, li.menu-item {
    list-style-type: none;
    color: #808080;
}
li.menu-item-search {
    list-style-type: none;
    margin-top: 10px;
    margin-left: -1px;
}
.search-text-input {
    width: 96px; /* Same width as logo png */
}
/* This imageless css button was generated by CSSButtonGenerator.com */
.search-submit-input {
	-moz-box-shadow:inset 1px 1px 0 0 #ffffff;
	-webkit-box-shadow:inset 1px 1px 0 0 #ffffff;
	box-shadow:inset 1px 1px 0 0 #ffffff;
	background-color:#ededed;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
    margin-top: 4px;
	text-decoration:none;
    width: 96px;
	text-shadow:1px 1px 0 #ffffff;
}.search-submit-input:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.search-submit-input:active {
	position:relative;
	top:1px;
}

#logo  {
    margin-left: 37px;
}

#secondary aside.widget_nav_menu {
    display: block;
}

/* =Footer
-------------------------------------------------------------- */

#colophon {
    padding: 1em 0.2em 0;
    z-index: 2;
}
