@font-face {
    font-family: "Museo";
    src: url("/blog/theme/static/Museo300-Regular.otf");
}

body {
    background: url("/blog/theme/static/paisley-4.png") no-repeat fixed 100% 100% white;
    background-size: 550px 550px;
    font-family: Museo,Palatino,Georgia,Serif;
    font-size: 110%;
    margin: 0;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 2dppx) {
    body {
        background-image: url("/blog/theme/static/paisley-4@2x.png");
    }
}

/* =Structure
-------------------------------------------------------------- */
.switch-mobile {
    clear: both;
    font-size: 36px;
    width: 600px;
    margin: 36px 0 0 200px;
}
.switch-mobile a {
    text-decoration: none;
    text-align: center;
    width: 584px;
}
.main {
  width: 600px;
  margin-left: 238px;
  clear: both;
}
.search .main {
    padding-top: 25px;
}
.sidebar {
    position: fixed;
    left: 25px;
    top: 18px;
    width: 180px;
}

.nav {
    clear: both;
    border-bottom: 1px dotted #333333;
}
.nav-list {
    list-style: none outside none;
    padding: 0 0 14px 0;
    margin: 14px 0;
}
.nav-list li {
    float: left;
}
.nav-list a {
    padding: 0 44px 0 0;
    text-decoration: none;
    color: #808080;
}
.title {
    font-size: 200%;
}
/* =Content
-------------------------------------------------------------- */
a {
	color: #2060A0;
}
h1 {
	font-size: 140%;
    color: #606060;
    margin: 14px 0;
}
pre {
    padding: .4em;
    padding-left: .8em;
    border: 1px solid #cccccc;
    font-family: Monaco,Lucida Console,monospace;
    font-size: 1em;
    overflow: auto;
    line-height: 1.1em;
}
/* Make inline code spans closer in size to normal Museo text */
code {
    font-size: 115%;
}
pre code {
    font-size: 110%;
}
div.entry-content {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 35px;
}
h1.entry-title a {
    text-decoration: none;
    color: #202020;
}
.entry-meta {
	margin: 15px 0;
}
.entry-meta a {
	text-decoration: none;
	color: #404040;
}
.entry-title a:hover {
	text-decoration: underline;
}
.entry-meta {
	clear: both;
	display: block;
	color: #808080;
}

/* =Widgets
-------------------------------------------------------------- */
.sidebar-list {
    padding: 0 38px;
    margin: 0;
    list-style-type: none;
}
.sidebar-list a {
	color: #808080;
	text-decoration: none;
	text-transform:lowercase;
	font-size: 80%;
}
.sidebar-list a:hover {
	text-decoration: underline;
}
.search-item {
    list-style-type: none;
    margin: 8px -1px;
}
.search-text-input, .search-button {
    width: 96px; /* Same width as logo png */
}
.logo  {
    margin-left: 37px;
}

/* =Images
-------------------------------------------------------------- */
a img {
	border: none;
}
p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
