host = 'localhost'
port = 8888
base_url = 'blog'
user = 'admin'
password = 'foobar'
blog_name = author_display_name = 'Your Name'
description = "Your blog's description."
google_analytics_id = 'UA-1234578-1' # Replace with your own
theme = 'theme'
log_file_prefix = 'log/motor-blog.log'
cookie_secret = 'long secret string'
timezone = 'America/New_York'
twitter_handle = 'myhandle'  # No @-sign

# List of url, title, CSS-class triples
nav_menu = [
    ('/blog/about/', 'About', 'about-nav-item'),
    ('/photography/', 'Photography', 'photography-nav-item'),
    ('http://feeds.feedburner.com/emptysquare', 'Feed', 'feed-nav-item'),
]
