{% extends "base.html" %}

{% block body-class %}home{% end %}

{% block nav-header %}
    {% include "nav.html" %}
{% end %}

{% block content %}
{% for post in posts %}
    {% include "post.html" %}
{% end %}

<nav id="nav-below">
    <div class="nav-previous">
        <a href="{{ reverse_url('page', page_num + 1) }}">
            <span class="meta-nav">&larr;</span> Older posts
        </a>
    </div>
    {% if page_num > 0 %}
        {% set next_page = page_num - 1 %}
        {# comment TODO use urlreverse #}
        {% if next_page == 0 %}
            {% set next_url = reverse_url('home') %}
        {% else %}
            {% set next_url = reverse_url('page', page_num - 1) %}
        {% end %}

        <div class="nav-next">
            <a href="{{ next_url }}">
                Newer posts <span class="meta-nav">&rarr;</span>
            </a>
        </div>
    {% end %}
</nav>

{% end %}