{% extends "base.html" %}

{% block body-class %}home{% end %}

{% block nav-header %}
<header id="branding" role="banner">
    <nav id="access" role="navigation">
        <div class="menu-main-container">
            <ul id="menu-main" class="menu">
                {# comment TODO use urlreverse #}
                <li class="menu-item"><a href="/{{ base_url }}/all-posts/" >All Posts</a></li>
                {% for url, title in setting('nav_menu') %}
                    <li class="menu-item"><a href="{{ url }}" >{{ title }}</a></li>
                {% end %}
            </ul>
        </div>
    </nav>
</header>
{% end %}

{% block content %}
{% set title_link = True %}
{% for post in posts %}
    {% include "post.html" %}
{% end %}

<nav id="nav-below">
    <div class="nav-previous">
        <a href="{{ reverse_url('page', page_num + 1) }}">
            <span class="meta-nav">&larr;</span> Older posts
        </a>
    </div>
    {% if page_num > 0 %}
        {% set next_page = page_num - 1 %}
        {# comment TODO use urlreverse #}
        {% if next_page == 0 %}
            {% set next_url = reverse_url('home') %}
        {% else %}
            {% set next_url = reverse_url('page', page_num - 1) %}
        {% end %}

        <div class="nav-next">
            <a href="{{ next_url }}">
                Newer posts <span class="meta-nav">&rarr;</span>
            </a>
        </div>
    {% end %}
</nav>

{% end %}