extends base

block vars
    title = setting('author_display_name')
    meta_description = setting('description')
    body_class = 'home-body'

block content
    each post in posts
        include post

nav
    .nav-previous
        a(href=reverse_url('page', page_num + 1))
            span.meta-nav &larr Older posts

    if (page_num > 0)
        next_page = page_num - 1
        if (next_page == 0)
            next_url = reverse_url('home')
        else
            next_url = reverse_url('page', page_num - 1)

        .nav-next
            a(href=next_url) Newer posts
                span.meta-nav &rarr
