<header id="branding" role="banner">
    <nav id="access" role="navigation">
        <div class="menu-main-container">
            <ul id="menu-main" class="menu">
                {# comment TODO use urlreverse #}
                <li class="menu-item"><a href="/{{ base_url }}/all-posts/" >All Posts</a></li>
                {% for url, title in setting('nav_menu') %}
                    <li class="menu-item"><a href="{{ url }}" >{{ title }}</a></li>
                {% end %}
            </ul>
        </div>
    </nav>
</header>
