<article class="post">
    <header class="entry-header">
        <h1 class="entry-title">
            {% if title_link %}
                <a href="{{ reverse_url('post', post.slug) }}">
            {% end %}
                {{ post.title }}
            {% if title_link %}
                </a>
            {% end %}
        </h1>

        {% if post.type == 'post' %}
            <div class="entry-meta">
                <span class="sep">Posted on </span>
                <a href="{{ reverse_url('post', post.slug) }}"
                   title="{{ post.local_time_of_day(handler.application) }}"
                   rel="bookmark">
                    <time class="entry-date"
                          datetime="{{ post.local_long_date(handler.application) }}"
                          pubdate>
                        {{ post.local_long_date(handler.application) }}
                    </time>
                </a>
                <span class="byline">
                    <span class="sep">
                        by
                    </span>
                    <span class="author">
                        {{ setting('author_display_name') }}
                    </span>
                </span>
            </div>
        {% end %}
    </header>

    <div class="entry-content">
        {% raw post.body %}
    </div>

    <footer class="entry-meta">
        {% if post.categories %}
            This entry was posted in
            {% for i, category in enumerate(post.categories) %}
                <a href="{{ reverse_url('category', category.slug) }}" title="View all posts in {{ category.name }}" rel="category tag">
                    {{ category.name }}</a>{% if i < len(post.categories) - 1 %},{% end %}
            {% end %}
        {% end %}
    </footer>
</article>
