<article class="post">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ reverse_url('post', post.slug) }}">
                {{ post.title }}
            </a>
        </h1>

        {% if post.type == 'post' %}
            <div class="entry-meta">
                <time class="entry-date"
                      datetime="{{ post.local_long_date(handler.application) }}"
                      title="{{ post.local_time_of_day(handler.application) }}"
                      pubdate>
                    {{ post.local_long_date(handler.application) }}</time>
                {% set author_display_name = setting('author_display_name') %}
                {% if author_display_name %}
                    <span class="byline">
                        <span class="sep">&mdash;</span>
                        <span class="author">{{ author_display_name }}</span>
                    </span>
                {% end %}
            </div>
        {% end %}
    </header>

    <div class="entry-content">
        {% raw post.body %}
    </div>
</article>
