{% extends "base.html" %}
{% block title %}
{{ post.title }} | {{ setting('author_display_name') }}
{% end %}

{% block body-class %}single-post{% end %}

{% block content %}
{% include "post.html" %}

{% if post.type == 'post' %}
<footer class="entry-meta">
    {% if post.categories %}
        Categories:
        {% for i, category in enumerate(post.categories) %}
            <a href="{{ reverse_url('category', category.slug) }}" title="View all posts in {{ category.name }}" rel="category tag">
                {{ category.name }}</a>{% if i < len(post.categories) - 1 %},{% end %}
        {% end %}
    {% end %}
    {% if post.categories and post.tags %}<br>{% end %}
    {% if post.tags %}
        Tags:
        {% for i, tag in enumerate(post.tags) %}
            <a href="{{ reverse_url('tag', tag) }}" title="View all posts tagged {{ tag }}" rel="category tag">
                {{ tag }}</a>{% if i < len(post.tags) - 1 %},{% end %}
        {% end %}
    {% end %}
</footer>
{% end %}

<nav id="nav-below">
    {% if prev %}
        <div class="nav-previous">
            <a href="{{ reverse_url('post', prev.slug) }}" rel="prev">
                <span class="meta-nav">&larr;</span>
                {{ prev.title }}
            </a>
        </div>
    {% end %}
    {% if next %}
        <div class="nav-next">
            <a href="{{ reverse_url('post', next.slug) }}" rel="next">
                {{ next.title }}
                <span class="meta-nav">&rarr;</span>
            </a>
        </div>
    {% end %}
</nav>

{% if post.type == 'post' and post.status == 'publish' %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'emptysquare';

    {% if post.wordpress_id %}
        var disqus_identifier = '{{ post.wordpress_id }} http://emptysquare.net/blog/?p={{ post.wordpress_id }}';
    {% else %}
        var disqus_identifier = '{{ post.id }}';
    {% end %}

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% end %}
{% end %}