# To be symlinked from /etc/nginx/sites-enabled. You probably need to unlink
# 'default' from that directory after a stock nginx install.

# Enumerate all the Tornado servers here
upstream motor_blog {
    server 127.0.0.1:8000;
    server 127.0.0.1:8001;
    server 127.0.0.1:8002;
    server 127.0.0.1:8003;
}

proxy_next_upstream off;

server {
    listen 80;
    # listen 443 default ssl;                                                                                                                                                                             
    # server_name emptysquare.net;                                                                                                                                                                        

    location /blog {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_pass http://motor_blog;
    }
}
