@mixin small {
    /* 13px / 18px */
    font-size: #{($font-size*0.8125) / $em}em;
    line-height: ($line*0.75) / ($font-size*0.8125) * 1em;
}
@mixin normal {
    /* 16px / 24px */
    font-size: #{$font-size / $em}em;
    line-height: #{$line / $em}em; /* 24 */
}

@mixin large {
    /* 26 / 36px */
    font-size: #{26 / $em}em;
    line-height: ($line*1.5) / 26 * 1em;
}

@mixin huge {
    /* 42px / 48px */
    font-size: #{42 / $em}em;
    line-height: ($line*2) / 42 * 1em;
}

@mixin massive {
    /* 68px / 72px */
    font-size: #{68 / $em}em;
    line-height: ($line*3) / 68 * 1em;
}

@mixin gigantic {
    /* 110px / 120px */
    font-size: #{110 / $em}em;
    line-height: ($line*5) / 110 * 1em;
}
