{% extends "admin.html" %}

{% block title %}{{ setting('blog_name') }} - Drafts{% end %}

{% block content %}
    {% if drafts %}
        {% for post in drafts %}
            {# TODO: refactor w/ all-posts #}
            <h1><a class="title" href="{{ reverse_url('draft', post.slug) }}">{% raw post.title %}</a></h1>
            <p><span class="date">{{ post.local_long_date(handler.application) }}</span></p>
            <p><span class="excerpt">{% raw post.display_summary %}</span></p>
        {% end %}
    {% else %}
        <p>No drafts. Create some by adding posts as drafts in MarsEdit!</p>
    {% end %}
{% end %}
