{% extends "admin.html" %}

{% block title %}{{ setting('blog_name') }} - Media{% end %}

{% block extra-head %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.remove-media').submit(function() {
                return confirm("Really delete it forever?");
            });
        });
    </script>
{% end %}

{% block content %}
    <p><a href="{{ reverse_url('drafts') }}">Go to drafts page.</a></p>
    {% if mediadocs %}
        {% for media in mediadocs %}
        <li>
            <a class="title" href="{{ reverse_url('media', media['_id']) }}">{{ media['_id'] }}</a>
            <span class="size">{{ int(media['length'] / 1000) }}k</span>
            <span class="date">{{ media['mod'] }}</span>
            <form action="{{ reverse_url('delete-media') }}" method="post" class="remove-media">
                <input type="hidden" name="media_id" value="{{ media['_id'] }}">
                <input type="submit" value="remove">
            </form>
        </li>
        {% end %}
    {% else %}
        <p>No media. Upload some by adding images to your posts in MarsEdit!</p>
    {% end %}
{% end %}
