<article class="post-summary">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ post.html_url }}">{{ post.title }}</a>
        </h1>

        <div class="entry-meta">
            <span class="sep">Posted on </span>
            TODO: better date formatting
            <a href="{{ post.html_url }}" title="{{ post.date_created }}" rel="bookmark">
                <time class="entry-date" datetime="{{ post.date_created }}" pubdate>{{ post.date_created }}</time>
            </a>
            <span class="byline">
                <span class="sep">
                    by
                </span>
                <span class="author">
                    {% module Setting('author_display_name') %}
                </span>
            </span>
        </div>
    </header>

    <div class="entry-content">
        {% raw post.summary %}
    </div>

</article>
