{% extends "admin.html" %}

{% block title %}{{ setting('blog_name') }} - Drafts{% end %}

{% block content %}
    <p><a href="{{ reverse_url('media-page') }}">Go to media page.</a></p>
    {% if drafts %}
        {% for post in drafts %}
            <li>
                {# TODO: refactor w/ all-posts #}
                <a class="title" href="{{ reverse_url('draft', post.slug) }}">{{ post.title }} </a>
                <span class="date">{{ post.local_short_date(handler.application) }}</span>
                <span class="excerpt"><p>{% raw post.summary %}</p></span>
            </li>
        {% end %}
    {% else %}
        <p>No drafts. Create some by adding posts as drafts in MarsEdit!</p>
    {% end %}
{% end %}
